<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/home-bolsistas.css">
</head>

<body>
    <!--PONTE PARA VISUALIZAÇÃO DA SIDE BAR-->
    <%- include ('./partials/sidebar') %>

    <div class="main-content">
        <!--PONTE PARA VISUALIZAÇÃO DO CABEÇALHO-->
        <%- include ('./partials/header') %>

        <main>
            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1>SUAP</h1>
                        <a href="https://suap.ifce.edu.br/accounts/login/?next=/">Clique aqui</a>
                    </div>
                    <div>
                        <a class="las la-users"></a>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>Escala</h1>
                        <a href="https://docs.google.com/spreadsheets/d/118BYHgVaFgnbYbbNTxH1uZ9ecCZLK_01vtx12Ybp0RY/edit?usp=sharing" >Clique aqui</a>
                    </div>
                    <div>
                        <a class="las la-table"></a>
                    </div>
                </div> 
            </div>

            <!--Tabela-->
            <div class="recent-grid">
                <div class="projects">
                    <div class="card">
                        <div class="card-header">
                            <h3>Regras do setor</h3>  
                        </div>
    
                        <div class="card-body">
                            <% rules.forEach(rule => { %>
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th> <%= rule.title %> </th>
                                            <th> <%= rule.bodyRule %> </th>
                                        </tr>
                                    </thead>     
                                </table>
                            </div>
                            <% }); %>
                        </div>

                    </div>
                </div>

                <div class="customers">
                    <div class="card">
                      <div class="card-header">
                        <h3>Lista de Bolsistas</h3>
                      </div>
                      <div class="card-body">
                        <% users.forEach(user => { %>
                          <div class="customer">
                            <div class="info">
                              <!-- Update these lines to dynamically display user data -->
                              <img src="/images/calvo.png" width="40px" height="40px" alt="">
                              <div>
                                <h4><%= user.name %></h4>
                                <small><%= user.workShift %></small>
                              </div>
                            </div>
                            <div class="contact">
                              <a href="https://api.whatsapp.com/send?phone=<%= user.numberTel %>" class="lab la-whatsapp"></a>
                            </div>
                          </div>
                        <% }); %>
                      </div>
                    </div>
                  </div>
                
            </div>
        </main>

    </div>

</body>

</html>